
  <h1 id="welcome">WELCOME</h1>
  <h4>discover the best restaurants</h4>

<% unless params["/"] %>
<div id="question_2">
<div class="second-question" >
  <h3>I am looking for...</h3>

  <hr>

  <p>Please choose what kind of event or meeting you are planning.</p>


  <div class="container-form-groupsize">
    <%= simple_form_for root_path, method: :get do |f| %>
      <%= f.input :suitable_fors, label: "Suitable for", collection: $suitable_fors, as: :check_boxes %>
      <%= f.button :submit, 'Submit', class: "button-big", id: "button-form" %>
      <%= link_to 'Skip this', restaurants_path, class: "skip" %>
    <% end %>
  </div>
</div>
</div>
<% end %>

<% if params["/"] && params["/"]["suitable_fors"] %>
<div id="question_3" class="third-question">
  <h3>Atmosphere</h3>

  <hr>

  <p>Choosing the right environment is key to a succesful meeting.</p>


  <div class="container-form-groupsize">
    <%= simple_form_for :restaurants, url: restaurants_path, method: :get do |f| %>
     <%= f.input :atmospheres, label: "Atmosphere", collection: $atmospheres, as: :check_boxes  %>
     <%= f.input :suitable_fors, input_html: {value: params["/"]["suitable_fors"].last}  %>
      <%#= f.button :submit, 'Casual', class: "button-big", id: "button-form" %>
      <%#= f.button :submit, 'Formal', class: "button-big", id: "button-form" %>
      <%#= f.button :submit, 'Luxurious', class: "button-big", id: "button-form" %>
      <%= f.button :submit, 'Submit', class: "button-big", id: "button-form" %>
      <%= link_to 'Skip this', restaurants_path, class: "skip" %>
    <% end %>
  </div>
</div>
<% end %>

