
<div class="bg-img">
<h1 id="welcome">WELCOME</h1>
<h4>discover the best restaurants</h4>

<% unless params["/"] %>
<div class="first-question" >

  <div class="container-form-groupsize">
    <%= simple_form_for root_path, method: :get do |f| %>
      <%= f.input :suitable_fors, label: "I planning on a...", collection: $suitable_fors, as: :check_boxes, class: 'onboarding' %>


      <%= f.button :submit, 'Submit', class: "button-big", id: "button-form" %>
      <%= link_to 'Skip this', restaurants_path, class: "skip" %>
    <% end %>
  </div>
</div>
</div>
<% end %>


<% if params["/"] && params["/"]["suitable_fors"] %>
<div class="second-question">

  <div class="container-form-groupsize">
    <%= simple_form_for :restaurants, url: restaurants_path, method: :get do |f| %>
     <%= f.input :atmospheres, label: "Desired atmosphere", collection: $atmospheres, as: :check_boxes, class: 'onboarding'  %>
     <%= f.input :suitable_fors, as: :hidden, input_html: {value: params["/"]["suitable_fors"].last} %>
      <%#= f.button :submit, 'Casual', class: "button-big", id: "button-form" %>
      <%#= f.button :submit, 'Formal', class: "button-big", id: "button-form" %>
      <%#= f.button :submit, 'Luxurious', class: "button-big", id: "button-form" %>
      <%= f.button :submit, 'Submit', class: "button-big", id: "button-form" %>
      <%= link_to 'Skip this', restaurants_path, class: "skip" %>
    <% end %>
  </div>
</div>
<% end %>
</div>
