<div class="index">
  <div class="map-index" id="map"
    style="width: 100%; height: 355px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="search-custom">
    <div id="search-bar">
      <%= render "components/search_bar" %>
    </div>
    <div class="order-2">
      <%= link_to "#",  data: { toggle: 'modal', target: '#exampleModalLong'}  do %>
        <i class="fas fa-filter"></i>
      <% end %>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Filters</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <%= simple_form_for :search, url: restaurants_path, method: :get do |f| %>
                  <%= f.input :food_styles, label: "Food Style",  collection: $food_styles, as: :check_boxes, input_html: { class: "tag-selector test" },
                  item_wrapper_class: "tag-item" %>
                  <%= f.input :atmospheres, label: "Atmosphere", collection: $atmospheres, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item" %>
                  <%= f.input :areas, label: "Neighborhood", collection: $areas, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item" %>
                  <%= f.input :food_philosophys, label: "Food Philosphy", collection: $food_philosophys, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item" %>
                  <%= f.input :extras, label: "Extras", collection: $extras, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item" %>
                  <div class="border-footer">
                    <button type="button" class="btn btn-secondary" id="confirm-cancel" data-dismiss="modal">Close</button>
                    <%= f.submit "Search", class: "btn btn-primary me" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="restaurantlist-container">
  <ul class= "restaurantlist">
    <%@restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="card-trip">
            <img src= <%= restaurant.photo %> />
            <div class="card-trip-infos">
              <div>
                <h2><strong><%=restaurant.name%></strong></h2>
                  <li class="sc-italics">
                    <%= restaurant.food_style_list%> |
                    <%= restaurant.atmosphere_list %> |
                    <%= restaurant.food_philosophy_list %> |
                    <%= restaurant.extra_list %>
                  </li>
                <p class="star"><%= image_tag("star_full.png", style: 'height:16px;') * restaurant.user_rating %><%= image_tag("star_empty.png", style: 'height:16px;') * (5 - restaurant.user_rating) %></p>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>

