<div class="index">
    <div class="header">
      <h3>Discover</h3>
    </div>
    <div class="search">
      <%= render "components/search_bar" %>
    </div>

  <ul class= "restaurantlist">
    <%@restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><strong><%=restaurant.name%></strong></h2>
                  <li class="sc-italics">
                    <%= restaurant.food_style%> |
                    <%= restaurant.atmosphere %> |
                    <%= restaurant.food_philosophy %> |
                    <%= restaurant.extras %>
                  </li>
  <p class="star"><%= image_tag("star_full.png", style: 'height:16px;') * restaurant.user_rating %><%= image_tag("star_empty.png", style: 'height:16px;') * (5 - restaurant.user_rating) %></p>
              </div>
            </div>
        </div>
      <%end%>
    <%end%>
  </ul>
</div>
