<h3>Discover suitable restaurants</h3>

<ul> <%@restaurants.each do |restaurant| %>
  <li> <strong><%=restaurant.name%></strong>
    <ul>
    <li class="sc-italics"><%=restaurant.area%></li>
    <li><%=restaurant.description%></li>
    <li> <%= "â­" * restaurant.user_rating %> </li>
    <li> <%=restaurant.address%>  </li>
    <li class="sc-italics">
      <%= restaurant.food_style%> |
      <%= restaurant.atmosphere %> |
      <%= restaurant.food_philosophy %> |
      <%= restaurant.extras %>
    </li>
    </ul>
 <%end%> 
</ul>
  
