<div class="index">
<<<<<<< HEAD
 <!--  <div class="header">
            <h3>Discover</h3>
          </div> -->
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Search
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="" id="search-bar">
          <%= render "components/search_bar" %>
          <div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <%= simple_form_for :search, url: restaurants_path, method: :get do |f| %>
                  <%= f.input :food_styles, label: "Food Style",  collection: $food_styles, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item" %>
                  <%= f.input :atmospheres, label: "Atmosphere", collection: $atmospheres, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item" %>
                  <%= f.input :areas, label: "Neighborhood", collection: $areas, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item" %>
                  <%= f.input :food_philosophys, label: "Food Philosphy", collection: $food_philosophys, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item" %>
                  <%= f.input :extras, label: "Extras", collection: $extras, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item" %>
                  <%= f.submit "Search", class: "btn btn-primary m" %>
                  <%= link_to "Reset", restaurants_path  %>
                <% end %>
=======
  <div>
    <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= simple_form_for :search, url: restaurants_path, method: :get do |f| %>
        <%= f.input :food_styles, label: "Food Style",  collection: $food_styles, as: :select %>
        <%= f.input :atmospheres, label: "Atmosphere", collection: $atmospheres, as: :select  %>
        <%= f.input :areas, label: "Neighborhood", collection: $areas, as: :select  %>
        <%= f.input :food_philosophys, label: "Food Philosphy", collection: $food_philosophys, as: :select  %>
        <%= f.input :extras, label: "Extras", collection: $extras, as: :select  %>
        <%= f.input :suitable_fors, label: "Suitable for", collection: $suitable_fors, as: :select %>
        <%= f.submit "Search", class: "btn btn-primary m" %>
        <%= link_to "Reset", restaurants_path  %>
      <% end %>
    </div>
  </div>

    <div class="header">
      <h3>Discover</h3>
    </div>
    <div class="search">
      <%= render "components/search_bar" %>
    </div>

  <ul class= "restaurantlist">
    <%@restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><strong><%=restaurant.name%></strong></h2>
                  <li class="sc-italics">
                    <%= restaurant.food_style_list%> |
                    <%= restaurant.atmosphere_list %> |
                    <%= restaurant.food_philosophy_list %> |
                    <%= restaurant.extra_list %> |
                    <%= restaurant.suitable_for_list %>

                  </li>
                <p class="star"><%= image_tag("star_full.png", style: 'height:16px;') * restaurant.user_rating %><%= image_tag("star_empty.png", style: 'height:16px;') * (5 - restaurant.user_rating) %></p>
>>>>>>> 15a7e25bd66370b3e2339514d849e54f3393729c
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<ul class= "restaurantlist">
  <%@restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
      <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><strong><%=restaurant.name%></strong></h2>
                <li class="sc-italics">
                  <%= restaurant.food_style_list%> |
                  <%= restaurant.atmosphere_list %> |
                  <%= restaurant.food_philosophy_list %> |
                  <%= restaurant.extra_list %>
                </li>
              <p class="star"><%= image_tag("star_full.png", style: 'height:16px;') * restaurant.user_rating %><%= image_tag("star_empty.png", style: 'height:16px;') * (5 - restaurant.user_rating) %></p>
            </div>
          </div>
      </div>
    <% end %>
<<<<<<< HEAD
  <% end %>
</ul>
=======
  </ul>
</div>

>>>>>>> 15a7e25bd66370b3e2339514d849e54f3393729c
