<h2><%=@restaurant.name%></h2>

<ul>
    <ul>
    <li class="sc-italics"><%=@restaurant.area%></li>
    <li><%=@restaurant.description%></li>
    <li> <%= "â­" * @restaurant.user_rating %> </li>
    <li> <%=@restaurant.address%>  </li>
    <li class="sc-italics">
      <%= @restaurant.food_style%> |
      <%= @restaurant.atmosphere %> |
      <%= @restaurant.food_philosophy %> |
      <%= @restaurant.extras %>
    </li>
    </ul>
</ul>
  