<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Restaurants", restaurants_path, id:'changecolor'%></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@restaurant.name.titleize%></li>
  </ol>
</nav>

<div class="container-show">
  <span>
    <h1 class="main-title"><%=@restaurant.name%></h1>
  </span>
  <span >
            <% if user_signed_in?  %>
      <% if current_user.favourited?(@restaurant) %>
        <%= link_to unfav_restaurant_path(@restaurant), method: :post do %>
          <i class="fa fa-heart" style="color: #3C896D;"></i>
        <% end %>
      <% else %>
        <%= link_to fav_restaurant_path(@restaurant), method: :post do %>
          <i class="fa fa-heart" id="heart" =></i>
        <% end %>
      <% end %>
    <% end %>

    <button type="button" class="share-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-share-square"></i></button>
  </span>
</div>

<div class="container pos-desc">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <% path = @restaurant.photo %>
  <% photo_path_array = path.split(/,/) %>

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      <%if photo_path_array.drop(1).present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <%end%>

      <%if photo_path_array.drop(2).present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <%end%>

      <%if photo_path_array.drop(3).present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <%end%>

      <%if photo_path_array.drop(4).present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <%end%>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <% unless @restaurant.photo.empty?%>
          <%= image_tag("#{photo_path_array[0].strip}", class:"d-block w-100 cr-format")%>
        <% else %>
          <%= image_tag("noimageplaceholder.jpg", class:"d-block w-100 cr-format")%>
        <% end %>
      </div>
      <% if photo_path_array.drop(1).present? %>
        <% photo_path_array.drop(1).each do |photo| %>
        <div class="carousel-item">
          <% unless @restaurant.photo.empty?%>
            <%= image_tag("#{photo.strip}", class:"d-block w-100 cr-format")%>
          <% else %>
            <%= image_tag("noimageplaceholder.jpg", class:"d-block w-100 cr-format")%>
          <% end %>
        </div>
       <% end %>
      <% end %>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="rest-body">
  <p class="star"><%= image_tag("star_full.png", style: 'height:16px;') * @restaurant.user_rating %><%= image_tag("star_empty.png", style: 'height:16px;') * (5 - @restaurant.user_rating) %></p>

  <p class="sc-italics d-flex">
    <span class="badge badge-info"><%= @restaurant.area_list %> </span>
    <span class="badge badge-info mg-left"><%= @restaurant.atmosphere_list %></span>
    <span class="badge badge-info mg-left"><%= @restaurant.food_philosophy_list %></span>
    <span class="badge badge-info mg-left"><%= @restaurant.extra_list %></span>
    <span class="badge badge-info mg-left"><%= @restaurant.food_style_list %></span>
  </p>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Share <%=@restaurant.name%> with your clients or colleagues</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="center-div">
            <div class="align-left">
              <p class="sm-tag"> <%= link_to(image_tag("facebook.svg", size: "12px"), "https://www.facebook.com/sharer.php?u=https://businessbites.herokuapp.com/restaurants/#{@restaurant.id}")%> <%= link_to "Facebook","https://www.facebook.com/sharer.php?u=http://www.getbusinessbites.club/restaurants/#{@restaurant.id}", target: :_blank%>  </p>
              <p class="sm-tag"> <%= link_to(image_tag("gmail.svg", size: "12px"), "#")%> <%= link_to "Email","#"%></p>
              <p class="sm-tag"> <%= link_to(image_tag("linkedin.svg", size: "12px"), "#")%> <%= link_to "LinkedIn","#"%></p>
              <p class="sm-tag"> <%= link_to(image_tag("whatsapp.svg", size: "12px"), "https://wa.me/?text=http://www.getbusinessbites.club/restaurants/#{@restaurant.id}")%> <%= link_to "WhatsApp","https://wa.me/?text=https://http://www.getbusinessbites.club/restaurants/#{@restaurant.id}"%> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h3> Details </h3>

  <div class="container">
    <div class="card">
      <p><%=@restaurant.description%></p>
    </div>
  </div>

  <div class="centered">
    <%=link_to "Book now!", @restaurant.link, target: :_blank, class:'button-big', style:'color:white; font-weight:lighter; font-size: 20px; width:100%; padding-top:16px; margin-top:16px;' %>
  </div>

  <h3> Address & Map</h3>

  <div class="container">
    <div class="card">
        <p><%=@restaurant.address%></p>
    </div>
  </div>

  <div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <h3> Reviews </h3>

  <div class="container">
    <p><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></p>
    <% @restaurant.reviews.each do |review| %>
        <div class="card-trip">
          <h2 class="card-title"><%=review.title%></h2>
          <p id="email"><%=review.user.email%></p>
          <p> <p class="star"><%= image_tag("star_full.png", style: 'height:16px;') * review.rating %><%= image_tag("star_empty.png", style: 'height:16px;') * (5 - review.rating) %></p>
          <p><%=review.description%></p>
        </div>
    <% end %>
  </div>


</div>
